body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #1e1e1e;
    color: white;
}

/* Centered Login */
.center-box {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: #252526;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #4fc3f7;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #03a9f4;
}

/* Workspace Layout */
.container {
    display: grid;
    grid-template-columns: 220px 1fr 300px;
    height: 100vh;
}

.sidebar {
    background: #252526;
    padding: 15px;
}

.file {
    padding: 6px;
    cursor: pointer;
}

.file:hover {
    background: #3a3a3a;
}

.editor-container {
    display: flex;
    flex-direction: column;
}

.editor-header {
    background: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#editor {
    flex: 1;
    background: #1e1e1e;
    color: white;
    border: none;
    padding: 15px;
    font-family: monospace;
}

.chat-container {
    background: #252526;
    display: flex;
    flex-direction: column;
}

#chatBox {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    background: #4fc3f7;
    color: black;
    padding: 8px;
    margin: 6px 0;
    border-radius: 8px;
}
